
  <div class="createpets px-10" >

    <div class="grid sm:grid-cols-2">

      <div class="col-span-1">
        <form method="POST" action="/pets/store">
          
          <div>
              <div class="sm:grid-cols-2 grid gap-3">
                <div class="col-span-1">
              <label class="block text-gray-700 text-sm font-bold mb-2">Nombre</label>
              <input name="name" type="text" placeholder="Ingresa el nombre" class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none"  >
                </div>
                <div class="col-span-1">
                  <label class="block text-gray-700 text-sm font-bold mb-2">Foto</label>
                  <input  name="photo" type="file" accept="image/x-png,image/gif,image/jpeg" @change="handleSelects" placeholder="Ingresa el url photo" class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none"  >

                </div>
              </div>
          </div>

            <div class="mt-4">
              <div class="grid-cols-2 grid gap-3">
                <div class="col-span-1">
                  <label class="block text-gray-700 text-sm font-bold mb-2">Color</label>
                  <input name="color" type="text" placeholder="Ingresa el color" class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none"  >
                </div>
                <div class="col-span-1">
                  <label class="block text-gray-700 text-sm font-bold mb-2">Estado</label>
                  <select  name="status" class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none">
                        <option value="1">Adoptado</option>
                        <option value="2">En adopción</option>
                  </select>
                </div>
              </div>
          </div>
          <div class="mt-4">
            <div class="grid grid-cols-3 gap-3">
              <div class="col-span-1">
                <label class="block text-gray-700 text-sm font-bold mb-2">Mascota</label>
                <select required  name="category" class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none">
                  <option value="1" selected>Perro</option>
                  <option value="2">Gato</option>
                </select>
              </div>
              <div class="col-span-2">
                    <label class="block text-gray-700 text-sm font-bold mb-2">Raza Perro</label>
                    <select name="" id="">
                      <option value="pug">una</option>
                    </select>
              </div>
            </div>
          </div>
          <!-- <div class="mt-4">
                  <label class="block text-gray-700 text-sm font-bold mb-2">Raza Gato</label>
                  <autocomplete :items="raza_gatos"  @selecionado="mostrarSeleccionado"></autocomplete>
          </div> -->
          <div class="mt-4">
                  <label class="block text-gray-700 text-sm font-bold mb-2">Ciudad</label>
                  <select name="city" id="">
                      <option value="guadalajara">una</option>
                    </select>
          </div>
            <div class="mt-4">
                  <label class="block text-gray-700 text-sm font-bold mb-2">Descripción</label>
                  <textarea name="description" class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none" placeholder="Ingresa descripción"></textarea>
          </div>
          <button  class="w-full bg-gray-500 text-white py-2 " >Enviar</button>
        </form>
      </div>

     
    </div>
    

  </div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

